<ion-view view-title="{{quiz.name}}">
  <ion-pane class="quiz-center quiz-bg">
    <ion-list>
      <button class="book-tag item-content item-remove-animate" style="margin-top:20px;" ng-repeat="book in books track by $index" type="item-text-wrap">
        <div class="nav book-tag-icon" data-tap-disabled="true">
          <a href="#">
            <span class="ion-qr-scanner"></span>
            <span class="screen-reader-text">{{book.name}}</span>
          </a>
        </div>
        <span class="book-tag-text">{{book.name}}</span>
      </button>
    </ion-list>
  </ion-pane>
</ion-view>