<ion-view view-title="Stats">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Last Score</div>
      <div class="item item-body">
        <div>
          Score: 750
        </div>
        <div>
          Time: 150 sec
        </div>
        <div>
          Correctness: 100%
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Average Score</div>
      <div class="item item-body">
        <div>
          Score: 612
        </div>
        <div>
          Time: 202 sec
        </div>
        <div>
          Correctness: 92%
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
