<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-icon-top tabs-background-unique tabs-color-light tabs-color-active-light">

  <!-- Quiz Tab -->
  <ion-tab title="Quiz" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/quiz">
    <ion-nav-view name="tab-quiz"></ion-nav-view>
  </ion-tab>

  <!-- Stats Tab -->
  <ion-tab title="Stats" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Upgrade Tab -->
  <ion-tab title="Upgrade" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/upgrade">
    <ion-nav-view name="tab-upgrade"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
