.pane {
  background-color: #555;
}
.item-content.activated {
    background-color: #424242 !important;
}
.item {
  border-color: #444;
}
.item .item-content {
  background-color: #777;
}

.item h2 {
    color: #FFF;
}
.item p {
    color: #DDD;
}


/* Override tab styles */

.tabs-background-unique .tabs, .tabs-background-unique > .tabs {
  background-color: #424242;
  border-color: #424242;
}

.tabs-striped.tabs-color-light .tab-item {
  color: rgba(101, 221, 228, 0.8);
  opacity: 1;
}
.tabs-striped.tabs-color-light .tab-item .badge {
  opacity: 0.8;
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated {
    margin-top: -2px;
    color: #65DDE4;
    border: 0 solid #65DDE4;
    border-top-width: 2px; }

/* Quizzes */
.quiz-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top:-50px;
}

.book-tag {
  width: 100%;
  min-width: 250px;
  height: 120%;
  font-size: 2em;
}
