.shake, .fail {
  display: inline-block; }

.shake, .fail {
  display: block;
  position: relative;
  -webkit-animation-name: shake-animation;
  -webkit-animation-duration: 0.7s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes shake-animation {
  0% {
    -webkit-transform: translate(4px, 0px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-4px, 0px) rotate(0deg); }

  20% {
    -webkit-transform: translate(4px, 0px) rotate(0deg); }

  30% {
    -webkit-transform: translate(-4px, 0px) rotate(0deg); }

  40% {
    -webkit-transform: translate(4px, 0px) rotate(0deg); }

  50% {
    -webkit-transform: translate(-5px, 0px) rotate(0deg); }

  60% {
    -webkit-transform: translate(5px, 0px) rotate(0deg); }

  70% {
    -webkit-transform: translate(-4px, 0px) rotate(0deg); }

  80% {
    -webkit-transform: translate(4px, 0px) rotate(0deg); }

  90% {
    -webkit-transform: translate(-2px, 0px) rotate(0deg); }

  100% {
    -webkit-transform: translate(2px, 0px) rotate(0deg); } }

.score-change-add, .score-change-remove {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }

.score-change, .score-change-add.score-change-add-active {
  font-size: 3em; }

.score-change-remove.score-change-remove-active {
  font-size: 1em; }

.score-change-up {
  color: green; }

.score-change-down {
  color: red; }

.activated {
  background: transparent !important; }

.pass {
  background: #24DA30 !important; }

.fail {
  background: #FF2F2A !important; }

.pane {
  background-color: #555555; }

.item-content.activated {
  background-color: #424242 !important; }

.item {
  border-color: #424242; }

.item .item-content {
  background-color: #777777; }

.item h2 {
  color: #FFFFFF; }

.item p {
  color: #DDDDDD; }

/* Override tab styles */
.tabs-background-unique .tabs, .tabs-background-unique > .tabs {
  background-color: #424242;
  border-color: #424242; }

.tabs-striped.tabs-color-light .tab-item {
  color: rgba(101, 221, 228, 0.6);
  opacity: 1; }

.tabs-striped.tabs-color-light .tab-item .badge {
  opacity: 0.8; }

.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated {
  margin-top: -2px;
  color: #65DDE4;
  border: 0 solid #65DDE4;
  border-top-width: 2px; }

/* Quizzes */
.quiz-center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-top: -50px; }

.book-tag {
  width: 100%;
  min-width: 250px;
  height: 120%;
  font-size: 2em; }
