.book-tag-wrapper {
  margin:5px;
}
.book-tag {
  width:75%;
  height:55px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  border:2px solid #E8E8EB;
  background-color:#FFF;
  text-align: left;
  display: block;
  margin:auto;
}
.book-tag-text {
  display:inline;
  margin-left:10px;
  font-size: 2em;
  color:#595959;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
      font-family: 'fontello';
      src: url('./font/fontello.eot?75398140');
      src: url('./font/fontello.eot?75398140#iefix') format('embedded-opentype'),
           url('./font/fontello.woff?75398140') format('woff'),
           url('./font/fontello.ttf?75398140') format('truetype'),
           url('./font/fontello.svg?75398140#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
    }

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 2em;
  speak: none;
}

.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

ion-content {
  background: url(http://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

.nav {
  list-style: none;
  text-align: left;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin:5px;
  width: 41px;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 5px 8px #ddd;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}